.p_usuarios ul{
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
}
.tit_plugin{
    margin-top:10px;
    margin-bottom: 10px;
    padding: 3px;
    color:#a30c22;
    font-size: 16px !important;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
    
}
.tit_plu{
    margin-top:10px;
    margin-bottom: 5px;
    padding: 3px;
    color:#a30c22;
    font-size: 16px !important;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
    
}
/*Sobreescribir estos estilos del template para los Plugins de PcMac*/
.summary ul li .summary-number {
    padding-top: 0px;
}

.summary ul li .summary-title {
    padding:0px;
}